.App {
  text-align: center;
  transition: background-color 1s;
}

@media (prefers-reduced-motion: no-preference) {
  // no motion goes here
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}
